<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="pickYoutTrail">
  <test thread-count="5" name="TestConfirmTravel">
    <classes>
      <class name="pickyourtrailIntializer.Pickyourtrail"/>
    </classes>
  </test> <!-- TestConfirmTravel -->
</suite> <!-- pickYoutTrail -->
